/* Layout principal da aplicação */
.app-layout {
  display: flex;
  height: 100vh; /* Mantém a altura da janela */
  width: 100vw;
  min-width: 320px;
  overflow: hidden; /* A estrutura principal não deve rolar, apenas o conteúdo */
}

/* Container principal que envolve o conteúdo das páginas */
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  /* permite rolagem vertical se necessário */
  overflow-y: auto; 
  overflow-x: hidden; /* Evita rolagem lateral indesejada */

  /* Esconde a barra no Chrome, Safari e Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Esconde a barra no Firefox */
  scrollbar-width: none;

  /* Esconde a barra no Internet Explorer e Edge antigo */
  -ms-overflow-style: none;
}

/* Área de conteúdo onde as páginas são renderizadas */
.content-area {
  flex: 1;
  background-color: #ffffff; /* Cor de fundo clar */
  flex-direction: column;
  overflow: visible;
  display: flex; /* Ajuda a centralizar o que estiver dentro */
}


@media (max-width: 768px) {
  /* 1. Trava a raiz do React para não crescer além da tela */
  html, body, #root {
    height: 100%;
    overflow: hidden;
    position: fixed; 
    width: 100%;
  }

  /* 2. Ajusta os containers do seu Layout Principal */
  .app-layout, 
  .main-container, 
  .content-area {
    height: 100% !important;
    max-height: 100dvh !important;
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
  }
}